name: Deploy to App Engine
on:
  push:
    branches:
      - main

permissions: # Required for OIDC authentication
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Create env.yaml from GitHub Secrets
      - name: Create env.yaml
        run: |
          cat > env.yaml << EOF
          env_variables:
            DB_PASSWORD: '${{ secrets.DB_PASSWORD }}'
            STRIPE_SECRET_KEY: '${{ secrets.STRIPE_SECRET_KEY }}'
            STRIPE_WEBHOOK_SECRET: '${{ secrets.STRIPE_WEBHOOK_SECRET }}'
            CLOUDINARY_URL: '${{ secrets.CLOUDINARY_URL }}'
            ETHERSCAN_API_KEY: '${{ secrets.ETHERSCAN_API_KEY }}'
            JWT_SECRET: '${{ secrets.JWT_SECRET }}'
            SMTP_USER: '${{ secrets.SMTP_USER }}'
            SMTP_PASS: '${{ secrets.SMTP_PASS }}'
            GOOGLE_CLIENT_ID: '${{ secrets.GOOGLE_CLIENT_ID }}'
            GOOGLE_CLIENT_SECRET: '${{ secrets.GOOGLE_CLIENT_SECRET }}'
            GOOGLE_REDIRECT_URI: '${{ secrets.GOOGLE_REDIRECT_URI }}'
            SENDGRID_API_KEY:  ${{ secrets.SENDGRID_API_KEY }}'
            SENDGRID_EMAIL_SENDER: ${{ secrets.SENDGRID_EMAIL_SENDER }}'
            APP_NAME: ${{ secrets.APP_NAME }}'
            JWT_ACCESS_TOKEN_SECRET: ${{ secrets.JWT_ACCESS_TOKEN_SECRET}}'
            JWT_REFRESH_TOKEN_SECRET:${{ secrets.JWT_REFRESH_TOKEN_SECRET }}'
            JWT_VERIFICATION_TOKEN_SECRET: ${{ secrets.JWT_VERIFICATION_TOKEN_SECRET }}'
      
          EOF

      # 1. Authenticate with Google Cloud using OIDC
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: 'projects/294172706997/locations/global/workloadIdentityPools/my-pool/providers/my-provider'
          service_account: 'key-ching-server@appspot.gserviceaccount.com'

      # 2. Deploy with the env-vars-file flag
      - id: 'deploy'
        name: 'Deploy Services'
        uses: 'google-github-actions/deploy-appengine@v2'
        with:
          deliverables: 'app.yaml'
          project_id: 'key-ching-server'
          promote: true
          # This flag merges your secrets into the app's environment
          env_vars_file: 'env.yaml'
