name: Deploy to App Engine
on:
  push:
    branches:
      - main

permissions: # Required for OIDC authentication
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 1. Authenticate with Google Cloud using OIDC
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: 'projects/key-ching-server/locations/global/workloadIdentityPools/my-pool/providers/my-provider'
          service_account: 'key-ching-server@appspot.gserviceaccount.com'

      # 2. Deploy multiple services (Standard Environment)
      - id: 'deploy'
        name: 'Deploy Services'
        uses: 'google-github-actions/deploy-appengine@v2'
        with:
          # List all service config files and dispatch.yaml
          deliverables: 'app.yaml'
          project_id: ${{ vars.key-ching-server }}
          promote: true # Automatically route traffic to the new versions
