name: Deploy to App Engine
on:
  push:
    branches:
      - main

permissions: # Required for OIDC authentication
  contents: read
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # 2. Authenticate with Google Cloud using OIDC
      - id: 'auth'
        name: 'Authenticate to Google Cloud'
        uses: 'google-github-actions/auth@v2'
        with:
          workload_identity_provider: 'projects/294172706997/locations/global/workloadIdentityPools/my-pool/providers/my-provider'
          service_account: 'key-ching-server@appspot.gserviceaccount.com'

      # Run pre-deployment script
      - name: Run pre-deployment script
        run: |
          chmod +x ./scripts/pre-deploy.sh
          ./scripts/pre-deploy.sh
        # This script handles tasks like generating the app.yaml with variables from the .env file stored on the cloud instance (google appengine ) 


      # 3. Deploy using the updated app.yaml
      - id: 'deploy'
        name: 'Deploy Services'
        uses: 'google-github-actions/deploy-appengine@v2'
        with:
          deliverables: 'app.yaml' # Path to the generated app.yaml on the runner?
          project_id: 'key-ching-server'
          promote: true
